*{
    color: white;
}

html{
    background-color: #000330;
    margin: 0;
    overflow: hidden;
    z-index: 1;

}

/* body{
    background-image: url(./img/livro2.png)  no-repeat center center;
    background-size: contain;
} */

.star{
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
    animation: move 5s linear infinite;
    opacity: 0,5;
    z-index: 1;
    
}

@keyframes move {
    0% { transform: scale(1); opacity: 1;}
    100% { transform: scale(0); opacity: 0;}
}

header{
    width: 100%;
    height: 5%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img{
    width: 8%;
    z-index: 2;
}

main{
    width: auto;
    height: 100%;
    min-height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    z-index: 2;
}

.title{
    margin-top: 3%;
    text-align: center;
}

.title h1{
    font-family: "Sigmar", sans-serif;
    font-weight: 500;
    font-style: normal;
    /* margin-bottom: 5px; */
    font-size: 60px;
}

#insider{
    margin: 0;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: red;
    letter-spacing: 4px;
    font-size: 30px;
    
}

.subtitle {
    text-align: center;
}

.subtitle p{
    font-family: "Lobster Two", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}



.ftitle{
    width: 95%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 4%;
    position: absolute;
    bottom: 0;
    margin-bottom: 3%;
    background-color: #000330;
    z-index: 2;
}

.txt1 p{
    font-family: "News Cycle", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.detail{
    width: 300px;
    height: 100px;
    display: inline-block;
    transform: rotate(-10deg);
    animation: pulsar 1.5s infinite ease-in-out;
    cursor: pointer;

}

@keyframes pulsar {
    0% { transform: rotate(-10deg) scale(1);}
    50% { transform: rotate(-10deg) scale(1.1);}
    100% {transform: rotate(-10deg) scale(1);}
    
}



#detalhes{
    color: white; /* Cor do texto */
    /* text-shadow: 
    -1px -1px 0 white,  
     1px -1px 0 white,  
    -1px  1px 0 white,  
     1px  1px 0 white; Criando a borda branca */
    font-family: "Ubuntu Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 48px;
    font-size: 20px;

}

.borda{
    background-color: red;
    border-radius: 50px;
    width: 80%;
    height: 30%;


}
.borda p{
    font-family: "Ubuntu Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

footer{
    /* background-color: red; */
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    z-index: 2;
}

header p{
    font-size: 40px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    position: relative;
    top: 20px;
    right: 25px;
}

footer p:hover{
    transform: scale(1.1);
}